In [4]:
import pandas as pd
import numpy as np

In [2]:
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [5]:
leftover=pd.read_excel("leftover.xlsx")
leftover["name_clean"]=[i.upper().replace("NATIONAL ASSOCIATION","").replace(" & "," AND ").replace("&"," AND ").replace(",","").replace(".","").replace(" INC","").replace(" LLC","").replace(" THE","").replace(" COMPANY","").replace(" CORPORATION","").replace(" CORP","").replace(" CO","").replace(" NA","").replace("TRUST","") for i in list(leftover.iloc[:,0])]
leftover.head()

,name17,name_clean
0,ACADEMY MORTGAGE CORPORATION,ACADEMY MORTGAGE
1,ACOPIA CAPITAL GROUP,ACOPIA CAPITAL GROUP
2,AFFINITY PLUS FEDERAL CREDIT UNION,AFFINITY PLUS FEDERAL CREDIT UNION
3,"AKT AMERICAN CAPITAL, INC. DBA AMERICAN CAPITA...",AKT AMERICAN CAPITAL DBA AMERICAN CAPITAL
4,ALPINE BANK & TRUST CO.,ALPINE BANK AND

In [31]:
def first(words):
    split_word = words.split(" ")
    for i in split_word: 
        if len(i) > 3:
            return i
    return split_word[0]

In [32]:
panel18=pd.read_excel("2018panel.xlsx")
panel18=panel18.drop([0])
panel18["name_clean"]=[i.upper().replace("NATIONAL ASSOCIATION","").replace(" & "," AND ").replace("&"," AND ").replace(",","").replace(".","").replace(" INC","").replace(" LLC","").replace(" THE","").replace(" COMPANY","").replace(" CORPORATION","").replace(" CORP","").replace(" CO","").replace(" NA","").replace("TRUST","") for i in list(panel18.iloc[:,1])]
panel18["new_first"]=[first(i) for i in panel18["name_clean"]]
panel18.head()

,lei,respondent_name,name_clean,new_first
1,2549000VVDQ9NNW01Q23,Listerhill Credit Union,LISTERHILL CREDIT UNION,LISTERHILL
2,1IE8VN30JCEQV1H4R804,"HSBC BANK USA, NATIONAL ASSOCIATION",HSBC BANK USA,HSBC
3,25490001F0A9F7BV6B05,Albany Bank and Trust Company National Associa...,ALBANY BANK AND,ALBANY
4,2549002H3CEW0748X068,The First National Bank of Brooksville,THE FIRSTTIONAL BANK OF BROOKSVILLE,FIRSTTIONAL
5,25490012KFFZI81TDT02,The Fidelity Bank,THE FIDELITY BANK,FIDELITY

In [40]:
leftover_first=[first(i) for i in leftover["name_clean"]]
new_first=[first(i) for i in panel18["name_clean"]]

lmatch = pd.DataFrame(columns=["name18", "leftover", "score"])
N = 0

for i in leftover_first:
    match, score = process.extractOne(i, new_first)
    lmatch.loc[N] = [leftover.iloc[N,0],\
                     panel18[panel18["new_first"] == match]["respondent_name"],\
                     score]
    N += 1
    print(lmatch.loc[N])

KeyError: 'the label [1] is not in the [index]'

In [38]:
match, score = process.extractOne(leftover_first[1], new_first)

In [39]:
panel18[panel18["new_first"] == match]["respondent_name"]

                       lei respondent_name name_clean new_first
4671  549300L1DBFIJZI8LA40     ACOPIA, LLC     ACOPIA    ACOPIA

In [24]:
panel18["name_clean"]

1       2549000VVDQ9NNW01Q23
2       1IE8VN30JCEQV1H4R804
3       25490001F0A9F7BV6B05
4       2549002H3CEW0748X068
5       25490012KFFZI81TDT02
6       2549001E11O22GGBEL86
7       20TVKH7M13MUBGE80C53
8       25490008HJSJXXX9TO61
9       2549001SMFSVFT382M09
10      2549002F2MBMPG0YSQ20
11      2549001R6R928Y08SC30
12      25490023H7X3L32H8F50
13      549300W40F67Y6WWQX34
14      25490000OGVJZR74L509
15      1TMVIO1SD0RLIPEIW803
16      25490029ZGGK0O5HP605
17      2549002AOWUCD3BSTP80
18      2549000JPXK5I949AM33
19      25490018IFQOT83Q7H49
20      2549000ZEJPSBH6OSH79
21      254900040LMONERSH242
22      2549001VTOPU7JA6G249
23      213800KVD76WKI6PN868
24      03D0JEWFDFUS0SEEKG89
25      0L0W72STJN2EGP1X2N39
26      2549001ZX3163R62TB83
27      21380054U5NKZKBQ4128
28      2138007DQF1WY8NDYM18
29      2549000S4R1QRQ0UX708
30      2549001XVX1R2ITF6935
                ...
5653    549300PIS0RX2F183J74
5654    549300TY63F2VQCXD029
5655    549300KW3HYVC06WS898
5656    549300ZWBZI4IUOSSQ18
5657    8945001K7B2ZYXWUBZ02
5658    25490099XNQQU8T3WI97
5659    549300XELYQIOXKMPE32
5660    254900FBWEZ3YUPOBN33
5661    549300BWXVTVB5RRZN58
5662    549300JNTZTF40KCOF79
5663    254900SJDUBD5DVVWZ69
5664    549300DGOVTO3RMRNM72
5665    54930009LUIVFTPRGT26
5666    NJ1Z0LLF4RLDWG2WCN80
5667    549300P6LWTHH4GFWX19
5668    5493008R6KUI4KIER222
5669    549300P7QM2ETZZY0323
5670    2549003K48UGTWEK6O31
5671    549300Y8MO6UUFA38I79
5672    549300LPN926HCD3NN25
5673    984500F0KF3MD44AF596
5674    254900L8E0QUT5VH5G34
5675    549300WXRBBOTAKXOS72
5676    894500LIN378M3LLE796
5677    549300YJTYKNAFNH8708
5678    5493005I7R041I8VOW18
5679    5493001QNNB0G97J5530
5680    5493007KXIK81MVSXW19
5681    254900JP0RZQA3KX5N51
5682    549300I7G0WB7Z0BCX80
Name: name_clean, Length: 5682, dtype: object